body, html{
    margin: auto;
    width: 100%; 
    height: 100%; 
    background-color: lightcoral;
}
.menu-nav{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    background-color: lightcoral;
    color: black;
}